@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Iceberg&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@keyframes animPlanche {
  0% {
    transform: translate(0, 0px);
  }
  30% {
    transform: translate(500px, 0px);
  }
  100% {
    transform: translate(500px, 0px);
  }
}
@keyframes animPlancheVehicule {
  0% {
    transform: translate(0, 0px);
  }
  30% {
    transform: translate(500px, 0px);
  }
  60% {
    transform: translate(500px, 0px);
  }

  100% {
    transform: translate(-0, 0px);
  }
}
@keyframes animInfoPrix1 {
  0% {
    transform: translate(0, 500px);
     filter: opacity(0%);
  }
  50% {
    
     filter: opacity(0%);
  }
  70% {
    
    filter: opacity(0%);
 }
 90% {
    
  filter: opacity(0%);
}
 
  100% {
    transform: translate(0, 0px);
    filter: opacity(85%);
  }
}

body {
min-height: 100vh;
min-width: 100vw;
  
}

:root {
  --couleur-accent: rgb(2, 7, 35);
  --footerbaspage: #040a3a;
  --couleur-acceuil-1: #190123;
  --couleur-acceuil-2:#000000;
  --couleur-bg-1: #630986;
  --couleur-bg-1-1: #330346;
  --couleur-prix-1:#0d6bee00;
  --couleur-bg-2: #000000;
  --couleur-bg-4: #c9a1ca;
  --couleur-degrade-1: #9739e9;
  --couleur-degrade-2: #1a246e;
  --couleur-fonce: #000000;
  --couleur-pale: #ffffff;
  --couleur-border: #243b47;
  --couleur-texte: rgba(255, 255, 255, 0.7);
  --espace-nav: 3rem;
  --espacement-lg: 20px;
  --espacement-md: 15px;
  --espacement-sm: 10px;
  --espacement-xl: 25px;
  --espacement-xxl: 50px;
  --espacement-xxxl: 100px;
  --police-principale: "Audiowide", sans-serif;
  --police-secondaire:"Iceberg", sans-serif;

  --texte-lg: 24px;
  --texte-md: 18px;
  --texte-xsm: 5px;
  --texte-sm: 14px;
  --texte-xl: 36px;
  --texte-xxl: 48px;
  --texte-xxxl: 64px;
}

li a {
  text-decoration: none;
  font-family: var(--police-principale);
  color: var(--couleur-accent);
}

.message{
  
  background-color: #f1b8e1;
  border: 3px solid #f1b8e1  ;
  border-radius: 5px;

}

main, .message + table {
gap: 50px;
}
.acceuil {
  min-height: 70vh; 
  align-items: flex-start;
  background-color: #000000;
  color: white;
  display: flex;
  gap: 100px;
 flex-direction: column;
 padding-top: 50px;
 font-family: var( --police-secondaire);
}

.sous-acceuil, .sous-acceuil-2{
  width: 500px;
  word-spacing: 4px;
  line-height: 27px;
  align-self: center;

}
.sous-acceuil-2, ul li{
  padding-top: 13px;
  padding-bottom: 20px;
}

article,
table {

  display: flex;
  gap: 150px;
}

table {
  font-family: var( --police-secondaire);

  display: grid;
  column-gap: 50px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

table {
  display: flex;
  justify-content: center;
}

nav {
  backdrop-filter: blur(5px);
  background: linear-gradient(
    90deg,
    var(--couleur-degrade-1),
    var(--couleur-degrade-2)
  );
  font-weight: bold;
  position: fixed ;
z-index: 6000;
  top: 0;
  left: 0;
  right: 0;

  padding: var(--espace-nav);
}

article {
  
  width: 800px;
  display: flex;
  justify-self: center;
font-family: var(--police-secondaire);

  gap: 50px;
}

.sect-conteneur{
  backdrop-filter: blur(5px);
  background: linear-gradient(
    180deg,
    var(--couleur-bg-1)25%,
    var(--footerbaspage)
  );
 
}

article,
p {
  display: flex;
  gap: 90px;
  flex-direction: column;
}

p {
  word-spacing: 4px;
  line-height: 27px;
}

h1,
h2 {
  font-size: var(--texte-lg);
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: var(--texte-lg);
  font-size: var(--texte-md);
  justify-content: center;
  
}

li a:hover {
  color: beige;
  border: 3px solid black;
  background-color: #000000;
  border-radius: 5px;

  transition: 100ms ease-in-out;
}
.gallerie-photo {
  font-family: var( --police-secondaire);

  display: flex;
  position: relative;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
min-height: 70vh;
  
  background: linear-gradient(180deg, var(--couleur-bg-2) 5%, var(--couleur-bg-1)) ;
}

.Firefly img{

}

.Firefly{
  display: flex;
  flex-direction: row;
}

.Firefly p{
  color: #ffffff;
  word-spacing: 4px;
  line-height: 27px;
  width: 600px;
  display: flex;
  align-items: center;
  


}

/* .tracteur-full{
margin-top: 833px;
object-fit: contain;
display: flex;
justify-content: flex-end ;
align-items: baseline;
} */

.chessboard1 {
  
  position: absolute;
  bottom: 0;
 height: 100%;
  left: -10px;
  animation: animPlanche 8s linear forwards;
}


.chess-conteneur{
  display: flex;
  justify-content: center;
  
} 



.chessboard1:hover {
  box-shadow: 0 0 10px 10px black;
  transition: 1s ease-in-out;

}
table {
  margin: 0 auto;
  min-width: 50%;
  padding-top: 5vh;
  display: contents;
border: 3px solid black;
  border-radius: 5px;
}
 

 
table thead tr th {
  background-color: violet;
  border: 3px solid black;


}
 
table tbody td {
  padding: 40px;
  background-color: violet;
  border: 3px solid black;
  border-radius: 5px;




}
 


/* .tracteur{
    object-fit: contain;
position: absolute; */

/* } */

/* .deux-roue{
 
    gap: 50px;
}
#roue{
    animation: roueTourner 4s ,
     animPlanche 4s ease-in-out;
     transform: translateX(-500px);
    margin-top: 121px;
    margin-left: -301px;
    transition: 4s;
}
#roue1{
   
    animation: roueTourner 4s , 
    animPlanche 4s ease-in-out;
    transform: translateX(-500px);
    margin-top: 144px;
    margin-left: -169px;
    transition: 4s;
   
}

#roue1{
}

#tracteur1{
    animation: animPlanche 4s ease-in-out;
    transform: translateX(-500px);
    transition: 4s;
} */

.tracteur-full {
  display: flex;
  position: absolute;
  animation: animPlancheVehicule 8s linear forwards;

  bottom: 0px;

  left: -700px;
  /* margin-top: 532px;
    margin-left: -1670px; */
}

main{
  padding-top: 114px;
}


.inscription{
  display: none !important;
}

footer ul> li{
display: flex;
flex-direction: row;
justify-self: center;
}
.Infor-Imp, li:not(li, img){
  gap: 20px;
  
}
footer > ul {
  display: flex;
 
  justify-self: center;
  
  }

footer {
top: 0;
left: 0;
right: 0;

background: linear-gradient(
  90deg,
  var(--couleur-degrade-1),
  var(--couleur-degrade-2)
);
height: 100px;




}

